* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contents1 {
  height: 200px;
  background-image: url(img/box1.jpg);
  background-size: cover;
  background-position: center;
}

.contents2 {
  height: 200px;
  background-image: url(img/box2.jpg);
  background-size: cover;
  background-position: center;
}

.contents3 {
  height: 200px;
  background-image: url(img/box3.jpg);
  background-size: cover;
  background-position: center;
}

.contents4 {
  height: 200px;
  background-image: url(img/box4.jpg);
  background-size: cover;
  background-position: center;
}
