* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img {
  height: 300px;
  background-size: cover;
  background-position: center;
}

.contents1 {
  background-image: url(img/box1.jpg);
}

.contents2 {
  background-image: url(img/box2.jpg);
}

.contents3 {
  background-image: url(img/box3.jpg);
}

.contents4 {
  background-image: url(img/box4.jpg);
}

.contents5 {
  background-image: url(img/box5.jpg);
}

.contents6 {
  background-image: url(img/box6.jpg);
}

.contents7 {
  background-image: url(img/box7.jpg);
}

.contents8 {
  background-image: url(img/box8.jpg);
}
